body {
    margin: 0;
    padding: 0;
    height: 100%;
    /*background-color: #000000;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

h2 {
    margin:0 0 .5em 0;
}

a {
    color: #00B7FF;
}

#wrapper {
    padding-left:0px;
    position:relative;
}

#edit {
    float: left;
    margin-left: 20px;
}

#delete {
    float: left;

}


#thingInfo {
    width:250px;
    position:absolute;
    top:0; left:0;
}
#thingInfo p {
    padding:15px;
    border:1px solid #CCC;
    background:rgba(80,120,255,0.05);
}

fieldset {
    border:0;
    padding:0; margin:0;
}

#thingList table {
    width: 750px;
}
#addThing {
    width: 250px;
}
